@tailwind base;
@tailwind components;
@tailwind utilities;

// FONT - Đã được import qua Next.js font optimization trong layout.tsx

/*-------------- Reset CSS----------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



/* Custom date input styling */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] {
  position: relative;
}

/* Custom select styling */
select {
  background-image: none;
}